*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question_list::-webkit-scrollbar {
    width: 0px;
  }
  

ul{
    list-style: none;
}

.container{
    height: 100vh;
    width: 100vw;
    background: rgb(10, 109, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 600px;
    height: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 2rem;
    margin-bottom: 20px;
}


  .question_list{
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
}

.question_box{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.question{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.line {
    margin-top: 10px;
    border: 1px solid rgb(93, 91, 91);
}

.question span{
    font-size: 1.3rem;
}

.question_box .answer{
    font-size: 1rem;
    display: none;
}

.show_ans .answer{
   
    display: block;
}

.rotate{
    transform: rotate(180deg);
}